@import 'tailwindcss';

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@custom-variant wil (&:where([data-theme="wil"], [data-theme="wil"] *));
/**
 * Tooltip con clase has-tooltip
 * Extraído de https://github.com/cosbgn/tailwindcss-tooltips
 **/
.tooltip {
	@apply invisible opacity-0 transition-[opacity] duration-500 ease-out not-md:hidden;
}

.has-tooltip:hover .tooltip,
.has-tooltip:hover + .tooltip {
	@apply z-50 opacity-100 md:visible;
}

/**
 * Texto alternativo para responsividad
 * Extraído de https://stackoverflow.com/questions/55975602/how-to-change-span-text-in-css-media-query
 **/
@media only screen and (max-width: 768px) {
	[data-alttext] > span {
		display: none;
	}

	[data-alttext]::before {
		content: attr(data-alttext);
	}
}

@layer base {
	:root {
		font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		font-size: 2.5svh;
		line-height: 1.5;
		font-weight: 400;

		color-scheme: light;
		color: var(--text);
		background-color: var(--background);

		--text: #4a5759;
		--background: #dedbd2;
		--primary: #4a5759;
		--accent: #b0c4b1;
		--secondary: #f7e1d7;
		--warning: #edafb8;
		--textomateria: #000000a2;
		--calendario: white;

		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	:root[data-theme='dark'] {
		--text: #f5f5f5;
		--background: #242424;
		--primary: #0a0a0a;
		--accent: #525252;
		--secondary: #a3a3a3;
		--warning: #e5e5e5;
		--textomateria: white;
	}

	:root[data-theme='wil'] {
		--text: #000000;
		--background: #ffffff;
		--primary: #14213D;
		--accent: #FCA311;
		--secondary: #E5E5E5;
		--warning: #e5e5e5;
		--textomateria: black;
	}
}

@theme {
	--color-primary: var(--primary);
	--color-accent: var(--accent);
	--color-secondary: var(--secondary);
	--color-warning: var(--warning);
	--color-background: var(--background);
	--color-text: var(--text);
	--color-textomateria: var(--textomateria);
	--color-calendario: var(--calendario);
}

a:hover {
	color: #747bff;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: top;
	min-width: 100%;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.card {
	padding: 2em;
}

#app {
	width: 100%;
	margin: 0 0;
	padding: 2rem;
	text-align: center;
}

button.nostyle {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	font-size: inherit;
}

button {
	background-color: var(--primary);
	color: var(--accent);
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: var(--accent);
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
